*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    color: #141417;
    background: #d0cfc5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

a.navbar-brand {
    font-family: 'Share Tech', sans-serif;
}

a:hover,
a:focus {
    color: #2d2d30;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}


/* Icons */

.nav-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

.icon--inline {
    display: inline-block;
    width: 1em;
    height: 100%;
    margin: 0 0.25em 0 0;
}

.form__close {
    margin: 1.25em 0 0 0;
    position: relative;
    display: inline-block;
    height: 0.65em;
    float: left;
    font-weight: bold;
    cursor: pointer;
}


/* Page Loader */

.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7f40f1;
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    pointer-events: none;
    background: #fff;
    animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        transform: translate3d(0, -100px, 0);
    }
}

.content.intro {
    height: 93vh;
}


/* Button */

.btn--menu {
    position: fixed;
    top: 3vw;
    right: 3vw;
    /* color: #939391; */
    pointer-events: visible;
}

.btn--close {
    position: absolute;
    top: 3vw;
    right: 3vw;
    font-size: 0.75em;
    z-index: 100;
}