*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    /* font-family: 'Inconsolata', monospace; */
    color: #141417;
    background: #d0cfc5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;

}

a.navbar-brand {
    font-family: 'Share Tech', sans-serif;
}

a:hover,
a:focus {
    color: #2d2d30;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}


/* Icons */

.nav-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

.icon--inline {
    display: inline-block;
    width: 1em;
    height: 100%;
    margin: 0 0.25em 0 0;
}

.form__close {
    margin: 1.25em 0 0 0;
    position: relative;
    display: inline-block;
    height: 0.65em;
    float: left;
    font-weight: bold;
    cursor: pointer;
}


/* Page Loader */

.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7f40f1;
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    pointer-events: none;
    background: #fff;
    animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        transform: translate3d(0, -100px, 0);
    }
}

.content.intro {
    height: 93vh;
}


/* Button */

.btn--menu {
    position: fixed;
    top: 3vw;
    right: 3vw;
    /* color: #939391; */
    pointer-events: visible;
}

.btn--close {
    position: absolute;
    top: 3vw;
    right: 3vw;
    font-size: 0.75em;
    z-index: 100;
}

.navbar .navbar-brand {
    position: absolute;
    width: 150px;
    width: 150px;
    line-height: 30px;
    color: inherit;
    /* padding: 10px 15px; */
}

.ecommerce-page>.main-raised .section {
    padding: 40px 0;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
    color: #fff;
    outline: none;
}

.navbar .navbar-nav>li>a {
    position: relative;
    padding: 10px 0px;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: rgba(206, 199, 199, 0.835);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.05em;
}


/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.nav-animation a {
	padding: 10px 0;
	text-shadow: none;
}

.nav-animation a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.nav-animation a:hover::before,
.nav-animation a:focus::before {
	max-width: 100%;
}

.card-content .text-srm {
    color: #FD8900;
}

.card-content .text-3d {
    color: #87A9B3;
}

.card-content .text-lm {
    color: #09317D;
}

.card-content .text-gs {
    columns: #193E50;
}

.features-1 {
    text-align: center;
    padding: 80px 10px;
}

.features-1 .row {
    margin-bottom: 50px;
}

.navbar .navbar-brand {
    height: 150px;
    left: 50px;
}

.navbar-right {
    margin-right: 50px;
}

.nav .navbar-nav {
    height: 150px;
}

.subscribe-line.subscribe-line-image {
    background-size: contain;
}

.subscribe-line.subscribe-line-image:after {
    background-color: rgba(0, 0, 0, 0.2);
}

p.description {
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    text-shadow: 2px 2px 10px #2e2e30;
}
